@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



/**---------------------------------------- PÁGINA INICIAL ----------------------------------------**/

:root{
  --cinza: #EDEEF7;
  --azul1: #E4FBFF;
  --azul2: #B8B5FF;
  --azul3: #7868E6;
  --azul4: #082032;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }

body{
    line-height: 1.5;
	  font-family: 'Poppins', sans-serif;
    height: 100vh;
    background-color: var(--azul1);
}
/**---------------------------------------- MENU DE NAVEGACAO ----------------------------------------**/
header{
    position: relative;
    width: 100%;
}
.menu{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 80px;
    background: var(--azul3);

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
.menu .logo-box{
    margin-left: 20px;
}
.menu .list-container{
    margin-right: 20px;
}
.menu .list-container ul{
    display: flex;
}
.menu .list-container ul li{
    list-style: none;
}
.menu .list-container ul li a{
    text-decoration: none;
    margin: 0px 10px;
    padding:8px;
    color: white;
    border-radius: 20px;
    transition: 0.5s;
    font-size: 1rem;
}
.menu .list-container ul li a.active{
    background: var(--azul2);
    color: white;
}
.menu .list-container ul li a:hover{
    background: var(--azul2);
    color:white;
}

.checkbtn > .fa-bars{
    display: none;
}

/**---------------------------------------- FIM MENU DE NAVEGACAO ----------------------------------------**/

/**---------------------------------------- IMAGEM CHAMATIVA ----------------------------------------**/

.img-header{
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(img/Escola4.jpg);
  background-attachment: fixed; /** Cria o efeito que a pagina esta fixa e o web que se move **/
  background-position: center;
  background-size: cover;
}
.img-header .welcome{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /** Dando um efeito legal para imagem chamativa, sendo o ultimo valor para opacidade **/
  
  /** Operacao para centrar o conteudo **/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.img-header .welcome h1{
  font-size: 3rem;
  color: white;
  font-weight: 180;
}
.img-header .welcome hr{
  width: 350px;
  height: 2px;
  background-color: white;
  border: none;
  margin-top: 5px;
}
.img-header .welcome p{
  font-size: 1.5rem;
  color: white;
  margin-top: 20px;
}
.img-header .welcome > button{
  width: 200px;
  height: 50px;
  background-color: var(--azul3);
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 1rem;
  color: white;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.5s;

}
.img-header .welcome > button:hover{
  background-color: var(--azul2);
}
/**---------------------------------------- FIM IMAGEM CHAMATIVA ----------------------------------------**/

/**---------------------------------------- SOBRE NOS ----------------------------------------**/

.sobrenos{
  width: 100%;
  background-color: var(--cinza);
}
.sobrenos .info-sobrenos{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.sobrenos .info-sobrenos h1{
  font-size: 3rem;
  margin-top: 120px;
  font-weight: 350;
  color: black;
}
.sobrenos .info-sobrenos p{
  text-align: center;
  font-size: 1rem;
  line-height: 40px;
  margin: 10px auto;

}
.sobrenos .info-sobrenos .img-sobrenos{
  width: 100%;
  display: flex;
  justify-content: center; /** Deixando enfileirado **/
  margin: 50px auto;
}
.sobrenos .info-sobrenos .img-sobrenos img{
  width: calc(33.333% - 10px);
  height: 300;
  object-fit: cover;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
}
.sobrenos .info-sobrenos .btn-sobrenos{
  width: 150px;
  height: 40px;
  background-color: var(--azul3);
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 20px;
  color: white;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.5s;
  margin-bottom:120px;;
}
.sobrenos .info-sobrenos .btn-sobrenos:hover{
  background-color: var(--azul2);
}
/**---------------------------------------- FIM SOBRE NOS ----------------------------------------**/

/**---------------------------------------- NOSSOS CURSOS ----------------------------------------**/

.nossos-cursos{
  width: 100%;
  margin-bottom: 80px;
}
.nossos-cursos .titulo-cursos{
  width: 50%;
  margin: auto;
  text-align: center;
}
.nossos-cursos .titulo-cursos h2{
  font-size: 3rem;
  color: black;
  font-weight: normal;
  margin-top: 40px;
  margin-bottom: 10px;
}
.nossos-cursos .titulo-cursos hr{
  width: 70%;
  margin: auto;
  height: 5px;
  color: black;
  border: none;
}
.nossos-cursos .div-cursos{
  width: 90%;
  margin: 80px auto 0px;
  /** Fazer os cursos ficarem em colunas que ao "quebrar" o html irá se ajeitar tornando a página mais responsiva **/
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
.nossos-cursos .div-cursos .box-cursos{
  border: 2px solid var(--azul2);
  border-radius: 16px;
  width: 45%;
  margin: 25px;
  transition: 0.4s;
  cursor: pointer;
}
.nossos-cursos .div-cursos .box-cursos .img-cursos{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nossos-cursos .div-cursos .box-cursos .img-cursos img{
  width: 160px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  margin-top: 20px;
  border: 5px solid var(--azul2);
  transition: 0.4s;
}
.nossos-cursos .div-cursos .box-cursos .texto-cursos{
  width: 100%;
  padding: 30px;
}
.nossos-cursos .div-cursos .box-cursos .texto-cursos h4{
  color: var(--azul2);
  font-weight: normal;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  transition: 0.4s;
}
.nossos-cursos .div-cursos .box-cursos .texto-cursos p{
  font-size: 1.5rem;
}
.nossos-cursos .div-cursos .box-cursos:hover{
  border: 2px solid var(--azul3);
}
.nossos-cursos .div-cursos .box-cursos:hover img{
  border: 5px solid var(--azul3);
}
.nossos-cursos .div-cursos .box-cursos:hover h4{
  color: var(--azul3);
}
/**---------------------------------------- FIM NOSSOS CURSOS ----------------------------------------**/

/**---------------------------------------- FOOTER ----------------------------------------**/
.footer{
  width: 100%;
  height: 10vh;
  background-color: var(--azul4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .text-footer{
  font-size: 1rem;
  color: white;
}
/**---------------------------------------- FIM FOOTER ----------------------------------------**/

/**---------------------------------------- MEDIA QUERY ----------------------------------------**/
@media only screen and (max-width:952px){
  .checkbtn > .fa-bars{
      display: block;
      position:absolute;
      right: 30px;
      top: 20px;
      font-size: 25px;
      color: black;
      transition: 0.5s;
      cursor: pointer;
  }
  .checkbtn > .fa-bars:hover{
      color:white;
  }
  .menu .logo-box{
      margin-left: 30px;
  }
  .menu .list-container{
      position: absolute;
      top:75px;
      left: -100%;
      background: var(--azul2);
      width: 100%;
      height: calc(100vh - 60px);
  }
  .menu .list-container .lists{
      width: 100%;
      height: 80%;
      display: flex;
      color: white;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  .menu .list-container ul li{
      width: 90%;
      margin-top: 60px;
      border-bottom: 2px solid white;
      display: flex;
      justify-content: center;
  }
  .menu .list-container ul li a{
      font-size: 2rem;
      text-align: center;
      padding:12px 0px;
  }
  .menu .list-container ul li a.active{
      background: none;
      color: black;
  }
  .menu .list-container ul li a:hover{
      background: none;
      color: black;
  }
}

/**---------------------------------------- FIM PÁGINA INICIAL ----------------------------------------**/





/**---------------------------------------- PÁGINA FORMULÁRIO ----------------------------------------**/
.formu{
  width: 100%;
  background-color: var(--azul1);

}
.formu .titulo-formu{
  width: 50%;
  padding-top: 100px;
  margin: auto auto 0px auto;
}
.formu .titulo-formu h1{
  text-align: center;
  color: var(--azul3);
  font-size: 3rem;
  font-weight: normal;
}
.formu .titulo-formu hr{
  width: 60%;
  margin: auto;
  border: 1px solid var(--azul3)
}
.formu .div-formu{
  width: 40%;
  border-radius: 16px;
  margin: 10px auto 50px;
  pad: 30px;
  border: 2px solid var(--azul3)
}
.formu .div-formu form{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.formu .div-formu form label{
  margin: 70px 0px 10px calc(50% - 150px);
  font-size: 1.5rem;
  font-weight: normal;
  color: var(--azul3);
}
.formu .div-formu form input{
  width: 50%;
  height: 50px;
  margin-left: calc(50% - 185px);
  border-radius: 16px;
  background-color: var(--cinza);
  border: 2px solid var(--azul3);
  padding: 2%;
  font-size: 1rem;
  
}
.formu .div-formu form input:focus{
  box-shadow: 0 0 0 0;
  outline: none;
}
.formu .div-formu form input::placeholder{
  font-size: 1rem;
  text-align: center;
}
.formu .div-formu form .btn-form{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
.formu .div-formu form .btn-form button{
  width: 200px;
  height: 50px;
  background-color: var(--azul3);
  color: white;
  border-radius: 16px;
  border: none;
  outline: none;
  font-size: 1rem;
  text-align: center;
  margin-top: 20px;
  cursor:pointer;
  transition: 0.5s;
}
.formu .div-formu form .btn-form button:hover{
  background-color: var(--azul2);
}






/**---------------------------------------- FIM PÁGINA FORMULÁRIO ----------------------------------------**/
